.postComment {
    margin: -20px;
}
.postLoading {
    text-align: center;
}

.feed {
    margin: 30px 0;
    background-color: #f0f0f0;
}

.replyMenu {
    margin-top: 20px;
    margin-left: 20px;
}
